From Tien Chern

Learning objective for Lab 5 task 1
- Able to perform basic data preparation
1. Read in data of CSV format
2. Rename variable
3. Join 2 data tables: Joiner
4. Concatenate 2 data tables: Concatenate

- Able to perform basic data cleaning
1. Manipulate String type data
2. Filtering rows
3. Filtering columns

- Able to perform basic data transformation
1. Cast proper data type
2. Bin numerica data to groups

In [1]:
import pandas as pd
from pathlib import Path
import os
import glob
# from utils import collect_workflow_outputs, compare_COT_annotation, assisted_question_inference, workflowgrader
from utils import workflowgrader

In [2]:
workspace = r"C:\Users\s11006381\knime-workspace\small_gradespace"

In [3]:
gradespace_dir_list = glob.glob(os.path.join(workspace,'[0-9]*'))

In [4]:
os.listdir(workspace)

['.metadata',
 '11006381_complete',
 '11006381_complete_more',
 '11006381_partial_correct',
 'C5_Lab5_Task1_Data_prep_clean',
 'C5_Lab5_Task1_Data_prep_clean_with_COT',
 'Example Workflows',
 'KNIME_project']

### Initialise workflowgrader 

To initialise a workflowgrader, we require the location of the workspace and the reference workflow which the grading is based on. Initialisation involves executing the reference workflow once to collect the reference outputs used for grading.

In [5]:
wfg = workflowgrader(workspace,'C5_Lab5_Task1_Data_prep_clean_with_COT')

The `.ref_workflow` allows you to check the reference workflow used for grading.

In [6]:
wfg.ref_workflow

'C5_Lab5_Task1_Data_prep_clean_with_COT'

The `.ref_output` returns the outputs which are collected from the reference workflow.

In [7]:
wfg.ref_output

{'output_1':         age  EstWeight  education-num  capital-gain  capital-loss  \
 0    middle     121772             11             0             0
 1    middle      84154             10             0             0
 2    middle     293936              4             0             0
 3    middle     117747              9             0          1573
 4    middle     153141              9             0             0
 ..      ...        ...            ...           ...           ...
 451  middle     191196             13             0          1977
 452  middle     199590              3             0             0
 453  middle      71556             14             0             0
 454  middle     217597              9             0             0
 455  middle     107302              9             0             0

      hours-per-week(new)
 0                     40
 1                     38
 2                     40
 3                     35
 4                     40
 ..                   ...
 451                   60
 452                   40
 453                   50
 454                   50
 455                   45

 [456 rows x 6 columns],
 'output_2':       age  EstWeight  education  education-num         marital-status  \
 0      53     234721       11th              7     Married-civ-spouse
 1      49     160187        9th              5  Married-spouse-absent
 2      34     245487    7th-8th              4     Married-civ-spouse
 3      38      28887       11th              7     Married-civ-spouse
 4      35      76845        9th              5     Married-civ-spouse
 ...   ...        ...        ...            ...                    ...
 4697   44      71556    Masters             14     Married-civ-spouse
 4698   58     181974  Doctorate             16          Never-married
 4699   42     217597    HS-grad              9               Divorced
 4700   39     107302    HS-grad              9     Married-civ-spouse
 4701   81     120478  Assoc-voc             11               Divorced

              occupation   relationship                race     sex  \
 0     Handlers-cleaners        Husband               Black    Male
 1         Other-service  Not-in-family               Black  Female
 2      Transport-moving        Husband  Amer-Indian-Eskimo    Male
 3                 Sales        Husband               White    Male
 4       Farming-fishing        Husband               Black    Male
 ...                 ...            ...                 ...     ...
 4697              Sales        Husband               White    Male
 4698     Prof-specialty  Not-in-family               White  Female
 4699              Sales      Own-child               White    Male
 4700     Prof-specialty        Husband               White    Male
 4701               None      Unmarried               White  Female

       capital-gain  capital-loss hours-per-week native-country income  \
 0                0             0          40hpw  United-States  <=50K
 1                0             0          16hpw        Jamaica  <=50K
 2                0             0          45hpw         Mexico  <=50K
 3                0             0          50hpw  United-States  <=50K
 4                0             0          40hpw  United-States  <=50K
 ...            ...           ...            ...            ...    ...
 4697             0             0          50hpw           None   >50K
 4698             0             0          99hpw           None  <=50K
 4699             0             0          50hpw           None  <=50K
 4700             0             0          45hpw           None   >50K
 4701             0             0           1hpw           None  <=50K

              workclass  hours-per-week(new)
 0              Private                   40
 1              Private                   16
 2              Private                   45
 3              Private                   50
 4          Federal-gov                   40
 ...                ...                  ...
 4697      Self-emp-inc                   50
 4698      Self-emp-inc                   99
 4699  Self-emp-not-inc                   50
 4700           Private                   45
 4701              None                    1

 [4702 rows x 16 columns]}

The `.ref_node_dist` returns a dictionary of the various nodes used in the refence workflow with their respective counts.

In [8]:
wfg.ref_node_dist

{'CSV Reader': 2,
 'Column Filter': 1,
 'Concatenate': 1,
 'Container Output _Table_': 2,
 'Joiner': 1,
 'Nominal Value Row Filter': 1,
 'Numeric Binner': 1,
 'Reference Column Filter': 1,
 'Reference Row Filter': 1,
 'Row Filter': 2,
 'String Manipulation': 1,
 'String To Number': 1}

### Data collection

The `.accumulate_workflow_nodes()` method collects data on the various nodes used in a workflow and can be accessed by `.sub_node_dists`.

In [9]:
%%time
awn = wfg.accumulate_workflow_nodes()

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 446.00it/s]

Wall time: 22.8 ms

In [10]:
wfg.sub_node_dists

{'11006381_complete': {'CSV Reader': 2,
  'Column Filter': 1,
  'Concatenate': 1,
  'Container Output _Table_': 2,
  'Joiner': 1,
  'Nominal Value Row Filter': 1,
  'Numeric Binner': 1,
  'Reference Column Filter': 1,
  'Reference Row Filter': 1,
  'Row Filter': 2,
  'String Manipulation': 1,
  'String To Number': 1},
 '11006381_complete_more': {'CSV Reader': 2,
  'Column Filter': 1,
  'Concatenate': 1,
  'Container Output _Table_': 3,
  'Joiner': 1,
  'Nominal Value Row Filter': 1,
  'Numeric Binner': 1,
  'Reference Column Filter': 1,
  'Reference Row Filter': 1,
  'Row Filter': 2,
  'String Manipulation': 1,
  'String To Number': 1},
 '11006381_partial_correct': {'CSV Reader': 2,
  'Column Filter': 1,
  'Container Output _Table_': 1,
  'Joiner': 1,
  'Nominal Value Row Filter': 1,
  'Numeric Binner': 1,
  'Reference Column Filter': 1,
  'Row Filter': 1,
  'String Manipulation': 1,
  'String To Number': 1,
  'Concatenate': 0,
  'Reference Row Filter': 0}}

The `.accumulate_workflow_outputs()` method collects all the outputs of the COT nodes from the workflows to be graded

In [11]:
%%time
_, _ = wfg.accumulate_workflow_outputs()

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:25<00:00,  8.54s/it]

Wall time: 25.6 s

The collected outputs can be accessed with `.sub_outputs` and `.sub_data_paths`

In [12]:
wfg.sub_outputs

{'11006381_complete': {'output1':         age  fnlwgt  education-num  capital-gain  capital-loss  \
  0    middle  121772             11             0             0
  1    middle   84154             10             0             0
  2    middle  293936              4             0             0
  3    middle  117747              9             0          1573
  4    middle  153141              9             0             0
  ..      ...     ...            ...           ...           ...
  451  middle  191196             13             0          1977
  452  middle  199590              3             0             0
  453  middle   71556             14             0             0
  454  middle  217597              9             0             0
  455  middle  107302              9             0             0

       hours-per-week(new)
  0                   40.0
  1                   38.0
  2                   40.0
  3                   35.0
  4                   40.0
  ..                   ...
  451                 60.0
  452                 40.0
  453                 50.0
  454                 50.0
  455                 45.0

  [456 rows x 6 columns],
  'output_2':       age  fnlwgt  education  education-num         marital-status  \
  0      53  234721       11th              7     Married-civ-spouse
  1      49  160187        9th              5  Married-spouse-absent
  2      34  245487    7th-8th              4     Married-civ-spouse
  3      38   28887       11th              7     Married-civ-spouse
  4      35   76845        9th              5     Married-civ-spouse
  ...   ...     ...        ...            ...                    ...
  4697   44   71556    Masters             14     Married-civ-spouse
  4698   58  181974  Doctorate             16          Never-married
  4699   42  217597    HS-grad              9               Divorced
  4700   39  107302    HS-grad              9     Married-civ-spouse
  4701   81  120478  Assoc-voc             11               Divorced

               occupation   relationship                race     sex  \
  0     Handlers-cleaners        Husband               Black    Male
  1         Other-service  Not-in-family               Black  Female
  2      Transport-moving        Husband  Amer-Indian-Eskimo    Male
  3                 Sales        Husband               White    Male
  4       Farming-fishing        Husband               Black    Male
  ...                 ...            ...                 ...     ...
  4697              Sales        Husband               White    Male
  4698     Prof-specialty  Not-in-family               White  Female
  4699              Sales      Own-child               White    Male
  4700     Prof-specialty        Husband               White    Male
  4701               None      Unmarried               White  Female

        capital-gain  capital-loss hours-per-week native-country income  \
  0                0             0          40hpw  United-States  <=50K
  1                0             0          16hpw        Jamaica  <=50K
  2                0             0          45hpw         Mexico  <=50K
  3                0             0          50hpw  United-States  <=50K
  4                0             0          40hpw  United-States  <=50K
  ...            ...           ...            ...            ...    ...
  4697             0             0          50hpw           None   >50K
  4698             0             0          99hpw           None  <=50K
  4699             0             0          50hpw           None  <=50K
  4700             0             0          45hpw           None   >50K
  4701             0             0           1hpw           None  <=50K

               workclass  hours-per-week(new)
  0              Private                 40.0
  1              Private                 16.0
  2              Private                 45.0
  3              Private                 50.0
  4          Federal-gov                 40.0
  ...                ...                  ...
  4697      Self-emp-inc                 50.0
  4698      Self-emp-inc                 99.0
  4699  Self-emp-not-inc                 50.0
  4700           Private                 45.0
  4701              None                  1.0

  [4702 rows x 16 columns]},
 '11006381_complete_more': {'output1':         age  education-num  capital-gain  capital-loss  hours-per-week(new)
  0    middle             11             0             0                 40.0
  1    middle             10             0             0                 38.0
  2    middle              4             0             0                 40.0
  3    middle              9             0          1573                 35.0
  4    middle              9             0             0                 40.0
  ..      ...            ...           ...           ...                  ...
  451  middle             13             0          1977                 60.0
  452  middle              3             0             0                 40.0
  453  middle             14             0             0                 50.0
  454  middle              9             0             0                 50.0
  455  middle              9             0             0                 45.0

  [456 rows x 5 columns],
  'output_2':       age  fnlwgt  education  education-num         marital-status  \
  0      53  234721       11th              7     Married-civ-spouse
  1      49  160187        9th              5  Married-spouse-absent
  2      34  245487    7th-8th              4     Married-civ-spouse
  3      38   28887       11th              7     Married-civ-spouse
  4      35   76845        9th              5     Married-civ-spouse
  ...   ...     ...        ...            ...                    ...
  4697   44   71556    Masters             14     Married-civ-spouse
  4698   58  181974  Doctorate             16          Never-married
  4699   42  217597    HS-grad              9               Divorced
  4700   39  107302    HS-grad              9     Married-civ-spouse
  4701   81  120478  Assoc-voc             11               Divorced

               occupation   relationship                race     sex  \
  0     Handlers-cleaners        Husband               Black    Male
  1         Other-service  Not-in-family               Black  Female
  2      Transport-moving        Husband  Amer-Indian-Eskimo    Male
  3                 Sales        Husband               White    Male
  4       Farming-fishing        Husband               Black    Male
  ...                 ...            ...                 ...     ...
  4697              Sales        Husband               White    Male
  4698     Prof-specialty  Not-in-family               White  Female
  4699              Sales      Own-child               White    Male
  4700     Prof-specialty        Husband               White    Male
  4701               None      Unmarried               White  Female

        capital-gain  capital-loss hours-per-week native-country income  \
  0                0             0          40hpw  United-States  <=50K
  1                0             0          16hpw        Jamaica  <=50K
  2                0             0          45hpw         Mexico  <=50K
  3                0             0          50hpw  United-States  <=50K
  4                0             0          40hpw  United-States  <=50K
  ...            ...           ...            ...            ...    ...
  4697             0             0          50hpw           None   >50K
  4698             0             0          99hpw           None  <=50K
  4699             0             0          50hpw           None  <=50K
  4700             0             0          45hpw           None   >50K
  4701             0             0           1hpw           None  <=50K

               workclass  hours-per-week(new)
  0              Private                 40.0
  1              Private                 16.0
  2              Private                 45.0
  3              Private                 50.0
  4          Federal-gov                 40.0
  ...                ...                  ...
  4697      Self-emp-inc                 50.0
  4698      Self-emp-inc                 99.0
  4699  Self-emp-not-inc                 50.0
  4700           Private                 45.0
  4701              None                  1.0

  [4702 rows x 16 columns],
  'output_3':        age  fnlwgt   education  education-num      marital-status  \
  0       39   77516   Bachelors             13       Never-married
  1       50   83311   Bachelors             13  Married-civ-spouse
  2       38  215646     HS-grad              9            Divorced
  3       53  234721        11th              7  Married-civ-spouse
  4       28  338409   Bachelors             13  Married-civ-spouse
  ...    ...     ...         ...            ...                 ...
  32556   27  257302  Assoc-acdm             12  Married-civ-spouse
  32557   40  154374     HS-grad              9  Married-civ-spouse
  32558   58  151910     HS-grad              9             Widowed
  32559   22  201490     HS-grad              9       Never-married
  32560   52  287927     HS-grad              9  Married-civ-spouse

                occupation   relationship   race     sex  capital-gain  \
  0           Adm-clerical  Not-in-family  White    Male          2174
  1        Exec-managerial        Husband  White    Male             0
  2      Handlers-cleaners  Not-in-family  White    Male             0
  3      Handlers-cleaners        Husband  Black    Male             0
  4         Prof-specialty           Wife  Black  Female             0
  ...                  ...            ...    ...     ...           ...
  32556       Tech-support           Wife  White  Female             0
  32557  Machine-op-inspct        Husband  White    Male             0
  32558       Adm-clerical      Unmarried  White  Female             0
  32559       Adm-clerical      Own-child  White    Male             0
  32560    Exec-managerial           Wife  White  Female         15024

         capital-loss hours-per-week native-country income         workclass
  0                 0          40hpw  United-States  <=50K         State-gov
  1                 0          13hpw  United-States  <=50K  Self-emp-not-inc
  2                 0          40hpw  United-States  <=50K           Private
  3                 0          40hpw  United-States  <=50K           Private
  4                 0          40hpw           Cuba  <=50K           Private
  ...             ...            ...            ...    ...               ...
  32556             0          38hpw  United-States  <=50K           Private
  32557             0          40hpw  United-States   >50K           Private
  32558             0          40hpw  United-States  <=50K           Private
  32559             0          20hpw  United-States  <=50K           Private
  32560             0          40hpw  United-States   >50K      Self-emp-inc

  [32561 rows x 15 columns]},
 '11006381_partial_correct': {'output_1':         age  EstWeight  education-num  capital-gain  capital-loss  \
  0    middle     121772             11             0             0
  1    middle      84154             10             0             0
  2    middle     293936              4             0             0
  3    middle     117747              9             0          1573
  4    middle     153141              9             0             0
  ..      ...        ...            ...           ...           ...
  451  middle     191196             13             0          1977
  452  middle     199590              3             0             0
  453  middle      71556             14             0             0
  454  middle     217597              9             0             0
  455  middle     107302              9             0             0

       hours-per-week(new)
  0                   40.0
  1                   38.0
  2                   40.0
  3                   35.0
  4                   40.0
  ..                   ...
  451                 60.0
  452                 40.0
  453                 50.0
  454                 50.0
  455                 45.0

  [456 rows x 6 columns]}}

In [13]:
for i in wfg.sub_data_paths:
    print(i,wfg.sub_data_paths[i])

11006381_complete ['C:\\Users\\s11006381\\Documents\\Semesters\\2210\\SAE\\datasets\\adult_sae.csv', 'file:/D:/Teaching/SAE/BB/Datasets/Chapter05/adult_sae-workclass.csv']
11006381_complete_more ['C:\\Users\\s11006381\\Documents\\Semesters\\2210\\SAE\\datasets\\adult_sae.csv', 'file:/D:/Teaching/SAE/BB/Datasets/Chapter05/adult_sae-workclass.csv']
11006381_partial_correct ['file:/C:/Users/s11006381/Documents/Semesters/2210/SAE/datasets/adult_sae.csv', 'file:/C:/Users/s11006381/Documents/Semesters/2210/SAE/datasets/adult_sae-workclass.csv']

### Data processing

The `.check_question()` method checks for any missing questions within each output and can be accessed by `.check_question_results`.

In [14]:
%%time
cqr = wfg.check_question()

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<?, ?it/s]

Wall time: 2.99 ms

In [15]:
wfg.check_question_results

{'11006381_complete': ([], []),
 '11006381_complete_more': (['output_1'], ['output1', 'output_3']),
 '11006381_partial_correct': (['output_2'], [])}

The `.check_variable()` method checks for any missing variables within each output for each workflow and can be accessed by `.check_variable_results`.

In [16]:
%%time
cvr = wfg.check_variable()

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 365.12it/s]

Wall time: 7.63 ms

In [17]:
wfg.check_var_results

{'output_1': {'11006381_complete': (['EstWeight'],
   [('hours-per-week(new)', dtype('float64'))]),
  '11006381_complete_more': (['UNGRADED'], ['UNGRADED']),
  '11006381_partial_correct': ([],
   [('hours-per-week(new)', dtype('float64'))])},
 'output_2': {'11006381_complete': (['EstWeight'],
   [('hours-per-week(new)', dtype('float64'))]),
  '11006381_complete_more': (['EstWeight'],
   [('hours-per-week(new)', dtype('float64'))]),
  '11006381_partial_correct': (['UNGRADED'], ['UNGRADED'])}}

In [18]:
wfg.sub_outputs['11006381_complete']['output_1']

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week(new)
0,middle,121772,11,0,0,40.0
1,middle,84154,10,0,0,38.0
2,middle,293936,4,0,0,40.0
3,middle,117747,9,0,1573,35.0
4,middle,153141,9,0,0,40.0
...,...,...,...,...,...,...
451,middle,191196,13,0,1977,60.0
452,middle,199590,3,0,0,40.0
453,middle,71556,14,0,0,50.0
454,middle,217597,9,0,0,50.0
455,middle,107302,9,0,0,45.0

The `.check_data()` method checks for any incorrect data for each of the variables in a given output and can be accessed by `.check_data_results`.

In [19]:
%%time
cdr = wfg.check_data()

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 94.33it/s]

Wall time: 23.2 ms

In [20]:
wfg.sub_outputs['11006381_partial_correct']

{'output_1':         age  EstWeight  education-num  capital-gain  capital-loss  \
 0    middle     121772             11             0             0
 1    middle      84154             10             0             0
 2    middle     293936              4             0             0
 3    middle     117747              9             0          1573
 4    middle     153141              9             0             0
 ..      ...        ...            ...           ...           ...
 451  middle     191196             13             0          1977
 452  middle     199590              3             0             0
 453  middle      71556             14             0             0
 454  middle     217597              9             0             0
 455  middle     107302              9             0             0

      hours-per-week(new)
 0                   40.0
 1                   38.0
 2                   40.0
 3                   35.0
 4                   40.0
 ..                   ...
 451                 60.0
 452                 40.0
 453                 50.0
 454                 50.0
 455                 45.0

 [456 rows x 6 columns]}

In [21]:
wfg.check_data_results

{'output_1': {'11006381_complete': ['hours-per-week(new)'],
  '11006381_complete_more': 'UNGRADED',
  '11006381_partial_correct': ['hours-per-week(new)']},
 'output_2': {'11006381_complete': ['hours-per-week(new)'],
  '11006381_complete_more': ['hours-per-week(new)'],
  '11006381_partial_correct': 'UNGRADED'}}

### Combine data

In [22]:
fp_df = pd.DataFrame.from_dict(wfg.sub_data_paths, orient='index')
fp_df

,0,1
11006381_complete,C:\Users\s11006381\Documents\Semesters\2210\SA...,file:/D:/Teaching/SAE/BB/Datasets/Chapter05/ad...
11006381_complete_more,C:\Users\s11006381\Documents\Semesters\2210\SA...,file:/D:/Teaching/SAE/BB/Datasets/Chapter05/ad...
11006381_partial_correct,file:/C:/Users/s11006381/Documents/Semesters/2...,file:/C:/Users/s11006381/Documents/Semesters/2...

In [23]:
cqr_df = pd.DataFrame.from_dict(cqr,orient='index',columns=['missing_questions','foreign_questions'])
cqr_df

                         missing_questions    foreign_questions
11006381_complete                       []                   []
11006381_complete_more          [output_1]  [output1, output_3]
11006381_partial_correct        [output_2]                   []

In [24]:
# old version
pd.Series(cqr,name='question_response')

11006381_complete                                    ([], [])
11006381_complete_more      ([output_1], [output1, output_3])
11006381_partial_correct                     ([output_2], [])
Name: question_response, dtype: object

In [39]:
cvr_df = pd.DataFrame.from_dict(cvr)
cvr_df.head()

,output_1,output_2
11006381_complete,"([EstWeight], [(hours-per-week(new), float64)])","([EstWeight], [(hours-per-week(new), float64)])"
11006381_complete_more,"([UNGRADED], [UNGRADED])","([EstWeight], [(hours-per-week(new), float64)])"
11006381_partial_correct,"([], [(hours-per-week(new), float64)])","([UNGRADED], [UNGRADED])"

In [41]:
for i in cvr_df.columns:
    cvr_df[[i+'_missing_var',i+'_incorrect_var_dtype']] = pd.DataFrame(cvr_df[i].to_list(),index=cvr_df.index)
    del cvr_df[i]

In [43]:
cvr_df['output_1_missing_var']

,output_1_missing_var,output_1_incorrect_var_dtype,output_2_missing_var,output_2_incorrect_var_dtype
11006381_complete,[EstWeight],"[(hours-per-week(new), float64)]",[EstWeight],"[(hours-per-week(new), float64)]"
11006381_complete_more,[UNGRADED],[UNGRADED],[EstWeight],"[(hours-per-week(new), float64)]"
11006381_partial_correct,[],"[(hours-per-week(new), float64)]",[UNGRADED],[UNGRADED]

In [44]:
cqvr_df = pd.merge(cqr_df,cvr_df,left_index=True,right_index=True)
cqvr_df

,missing_questions,foreign_questions,output_1_missing_var,output_1_incorrect_var_dtype,output_2_missing_var,output_2_incorrect_var_dtype
11006381_complete,[],[],[EstWeight],"[(hours-per-week(new), float64)]",[EstWeight],"[(hours-per-week(new), float64)]"
11006381_complete_more,[output_1],"[output1, output_3]",[UNGRADED],[UNGRADED],[EstWeight],"[(hours-per-week(new), float64)]"
11006381_partial_correct,[output_2],[],[],"[(hours-per-week(new), float64)]",[UNGRADED],[UNGRADED]

In [45]:
cdr_df = pd.DataFrame.from_dict(cdr)

In [46]:
cdr_df

                                       output_1               output_2
11006381_complete         [hours-per-week(new)]  [hours-per-week(new)]
11006381_complete_more                 UNGRADED  [hours-per-week(new)]
11006381_partial_correct  [hours-per-week(new)]               UNGRADED

In [48]:
for i in cdr_df.columns:
    cdr_df[i+'_incorrect_var_data'] = cdr_df[i]
    del cdr_df[i]

In [49]:
cdr_df

,output_1_incorrect_var_data,output_2_incorrect_var_data
11006381_complete,[hours-per-week(new)],[hours-per-week(new)]
11006381_complete_more,UNGRADED,[hours-per-week(new)]
11006381_partial_correct,[hours-per-week(new)],UNGRADED

In [50]:
cqvdr_df = pd.merge(cqvr_df,cdr_df,left_index=True,right_index=True,suffixes=('_var_dtype','_data'))
cqvdr_df

,missing_questions,foreign_questions,output_1_missing_var,output_1_incorrect_var_dtype,output_2_missing_var,output_2_incorrect_var_dtype,output_1_incorrect_var_data,output_2_incorrect_var_data
11006381_complete,[],[],[EstWeight],"[(hours-per-week(new), float64)]",[EstWeight],"[(hours-per-week(new), float64)]",[hours-per-week(new)],[hours-per-week(new)]
11006381_complete_more,[output_1],"[output1, output_3]",[UNGRADED],[UNGRADED],[EstWeight],"[(hours-per-week(new), float64)]",UNGRADED,[hours-per-week(new)]
11006381_partial_correct,[output_2],[],[],"[(hours-per-week(new), float64)]",[UNGRADED],[UNGRADED],[hours-per-week(new)],UNGRADED

In [ ]:
n_df = pd.DataFrame.from_dict(wfg.sub_node_dists,orient='index')
n_df

Combining all the dataframes together we can save it as a csv file or work with this data to provide meaningful feedback to the students.

In [ ]:
combined_df = pd.merge(cqvdr_df,n_df,left_index=True,right_index=True,suffixes=('_var_dtype','_data'))
combined_df

In [ ]:
wfg.ref_output['output_1'].columns

In [ ]:
n_df['node_count'] = n_df.sum(axis=1)

In [ ]:
n_df

In [ ]:
for i in cqr_df:
    missing_count = len(i[0])
    total_count = len(wfg.ref_output.keys())
    print(missing_count)
    print(1-(missing_count/total_count))

In [ ]:
cqr_df.to_frame()

In [ ]:
cqr_df

In [ ]:
cqr_df['question_completion'] = cqr_df.apply(lambda x : 1-(len(x[0])/len(wfg.ref_output.keys())))

In [ ]:
cqr_df.head()

In [ ]:
wfg.ref_output.keys()

In [ ]:
tdf = pd.DataFrame.from_dict(cqr,orient='index',columns=['missing_questions','foreign_questions'])

In [ ]:
tdf['question_completion'] = tdf['missing_questions'].apply(lambda x : 1-(len(x)/len(wfg.ref_output.keys())))

In [ ]:
tdf

In [ ]:
cvr

In [ ]:
pd.merge(tdf,cvr_df,left_index=True,right_index=True)