From Tien Chern

Learning objective for Lab 5 task 1
- Able to perform basic data preparation
1. Read in data of CSV format
2. Rename variable
3. Join 2 data tables: Joiner
4. Concatenate 2 data tables: Concatenate

- Able to perform basic data cleaning
1. Manipulate String type data
2. Filtering rows
3. Filtering columns

- Able to perform basic data transformation
1. Cast proper data type
2. Bin numerica data to groups

In [1]:
import pandas as pd
from pathlib import Path
import os
import glob
# from utils import collect_workflow_outputs, compare_COT_annotation, assisted_question_inference, workflowgrader
from utils import workflowgrader

In [2]:
workspace = r"C:\Users\s11006381\knime-workspace\small_gradespace"

In [3]:
gradespace_dir_list = glob.glob(os.path.join(workspace,'[0-9]*'))

In [4]:
os.listdir(workspace)

['.metadata',
 '11006381_complete',
 '11006381_complete_more',
 'C5_Lab5_Task1_Data_prep_clean',
 'C5_Lab5_Task1_Data_prep_clean_with_COT',
 'Example Workflows']

In [5]:
wfg = workflowgrader(workspace,'C5_Lab5_Task1_Data_prep_clean_with_COT')

In [6]:
%%time
_ = wfg.accumulate_workflow_outputs()

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:37<00:00, 18.85s/it]

Wall time: 37.7 s

In [7]:
wfg.sub_outputs

{'11006381_complete': {'output1':         age  fnlwgt  education-num  capital-gain  capital-loss  \
  0    middle  121772             11             0             0
  1    middle   84154             10             0             0
  2    middle  293936              4             0             0
  3    middle  117747              9             0          1573
  4    middle  153141              9             0             0
  ..      ...     ...            ...           ...           ...
  451  middle  191196             13             0          1977
  452  middle  199590              3             0             0
  453  middle   71556             14             0             0
  454  middle  217597              9             0             0
  455  middle  107302              9             0             0

       hours-per-week(new)
  0                   40.0
  1                   38.0
  2                   40.0
  3                   35.0
  4                   40.0
  ..                   ...
  451                 60.0
  452                 40.0
  453                 50.0
  454                 50.0
  455                 45.0

  [456 rows x 6 columns],
  'output_2':       age  fnlwgt  education  education-num         marital-status  \
  0      53  234721       11th              7     Married-civ-spouse
  1      49  160187        9th              5  Married-spouse-absent
  2      34  245487    7th-8th              4     Married-civ-spouse
  3      38   28887       11th              7     Married-civ-spouse
  4      35   76845        9th              5     Married-civ-spouse
  ...   ...     ...        ...            ...                    ...
  4697   44   71556    Masters             14     Married-civ-spouse
  4698   58  181974  Doctorate             16          Never-married
  4699   42  217597    HS-grad              9               Divorced
  4700   39  107302    HS-grad              9     Married-civ-spouse
  4701   81  120478  Assoc-voc             11               Divorced

               occupation   relationship                race     sex  \
  0     Handlers-cleaners        Husband               Black    Male
  1         Other-service  Not-in-family               Black  Female
  2      Transport-moving        Husband  Amer-Indian-Eskimo    Male
  3                 Sales        Husband               White    Male
  4       Farming-fishing        Husband               Black    Male
  ...                 ...            ...                 ...     ...
  4697              Sales        Husband               White    Male
  4698     Prof-specialty  Not-in-family               White  Female
  4699              Sales      Own-child               White    Male
  4700     Prof-specialty        Husband               White    Male
  4701               None      Unmarried               White  Female

        capital-gain  capital-loss hours-per-week native-country income  \
  0                0             0          40hpw  United-States  <=50K
  1                0             0          16hpw        Jamaica  <=50K
  2                0             0          45hpw         Mexico  <=50K
  3                0             0          50hpw  United-States  <=50K
  4                0             0          40hpw  United-States  <=50K
  ...            ...           ...            ...            ...    ...
  4697             0             0          50hpw           None   >50K
  4698             0             0          99hpw           None  <=50K
  4699             0             0          50hpw           None  <=50K
  4700             0             0          45hpw           None   >50K
  4701             0             0           1hpw           None  <=50K

               workclass  hours-per-week(new)
  0              Private                 40.0
  1              Private                 16.0
  2              Private                 45.0
  3              Private                 50.0
  4          Federal-gov                 40.0
  ...                ...                  ...
  4697      Self-emp-inc                 50.0
  4698      Self-emp-inc                 99.0
  4699  Self-emp-not-inc                 50.0
  4700           Private                 45.0
  4701              None                  1.0

  [4702 rows x 16 columns]},
 '11006381_complete_more': {'output1':         age  education-num  capital-gain  capital-loss  hours-per-week(new)
  0    middle             11             0             0                 40.0
  1    middle             10             0             0                 38.0
  2    middle              4             0             0                 40.0
  3    middle              9             0          1573                 35.0
  4    middle              9             0             0                 40.0
  ..      ...            ...           ...           ...                  ...
  451  middle             13             0          1977                 60.0
  452  middle              3             0             0                 40.0
  453  middle             14             0             0                 50.0
  454  middle              9             0             0                 50.0
  455  middle              9             0             0                 45.0

  [456 rows x 5 columns],
  'output_2':       age  fnlwgt  education  education-num         marital-status  \
  0      53  234721       11th              7     Married-civ-spouse
  1      49  160187        9th              5  Married-spouse-absent
  2      34  245487    7th-8th              4     Married-civ-spouse
  3      38   28887       11th              7     Married-civ-spouse
  4      35   76845        9th              5     Married-civ-spouse
  ...   ...     ...        ...            ...                    ...
  4697   44   71556    Masters             14     Married-civ-spouse
  4698   58  181974  Doctorate             16          Never-married
  4699   42  217597    HS-grad              9               Divorced
  4700   39  107302    HS-grad              9     Married-civ-spouse
  4701   81  120478  Assoc-voc             11               Divorced

               occupation   relationship                race     sex  \
  0     Handlers-cleaners        Husband               Black    Male
  1         Other-service  Not-in-family               Black  Female
  2      Transport-moving        Husband  Amer-Indian-Eskimo    Male
  3                 Sales        Husband               White    Male
  4       Farming-fishing        Husband               Black    Male
  ...                 ...            ...                 ...     ...
  4697              Sales        Husband               White    Male
  4698     Prof-specialty  Not-in-family               White  Female
  4699              Sales      Own-child               White    Male
  4700     Prof-specialty        Husband               White    Male
  4701               None      Unmarried               White  Female

        capital-gain  capital-loss hours-per-week native-country income  \
  0                0             0          40hpw  United-States  <=50K
  1                0             0          16hpw        Jamaica  <=50K
  2                0             0          45hpw         Mexico  <=50K
  3                0             0          50hpw  United-States  <=50K
  4                0             0          40hpw  United-States  <=50K
  ...            ...           ...            ...            ...    ...
  4697             0             0          50hpw           None   >50K
  4698             0             0          99hpw           None  <=50K
  4699             0             0          50hpw           None  <=50K
  4700             0             0          45hpw           None   >50K
  4701             0             0           1hpw           None  <=50K

               workclass  hours-per-week(new)
  0              Private                 40.0
  1              Private                 16.0
  2              Private                 45.0
  3              Private                 50.0
  4          Federal-gov                 40.0
  ...                ...                  ...
  4697      Self-emp-inc                 50.0
  4698      Self-emp-inc                 99.0
  4699  Self-emp-not-inc                 50.0
  4700           Private                 45.0
  4701              None                  1.0

  [4702 rows x 16 columns],
  'output_3':        age  fnlwgt   education  education-num      marital-status  \
  0       39   77516   Bachelors             13       Never-married
  1       50   83311   Bachelors             13  Married-civ-spouse
  2       38  215646     HS-grad              9            Divorced
  3       53  234721        11th              7  Married-civ-spouse
  4       28  338409   Bachelors             13  Married-civ-spouse
  ...    ...     ...         ...            ...                 ...
  32556   27  257302  Assoc-acdm             12  Married-civ-spouse
  32557   40  154374     HS-grad              9  Married-civ-spouse
  32558   58  151910     HS-grad              9             Widowed
  32559   22  201490     HS-grad              9       Never-married
  32560   52  287927     HS-grad              9  Married-civ-spouse

                occupation   relationship   race     sex  capital-gain  \
  0           Adm-clerical  Not-in-family  White    Male          2174
  1        Exec-managerial        Husband  White    Male             0
  2      Handlers-cleaners  Not-in-family  White    Male             0
  3      Handlers-cleaners        Husband  Black    Male             0
  4         Prof-specialty           Wife  Black  Female             0
  ...                  ...            ...    ...     ...           ...
  32556       Tech-support           Wife  White  Female             0
  32557  Machine-op-inspct        Husband  White    Male             0
  32558       Adm-clerical      Unmarried  White  Female             0
  32559       Adm-clerical      Own-child  White    Male             0
  32560    Exec-managerial           Wife  White  Female         15024

         capital-loss hours-per-week native-country income         workclass
  0                 0          40hpw  United-States  <=50K         State-gov
  1                 0          13hpw  United-States  <=50K  Self-emp-not-inc
  2                 0          40hpw  United-States  <=50K           Private
  3                 0          40hpw  United-States  <=50K           Private
  4                 0          40hpw           Cuba  <=50K           Private
  ...             ...            ...            ...    ...               ...
  32556             0          38hpw  United-States  <=50K           Private
  32557             0          40hpw  United-States   >50K           Private
  32558             0          40hpw  United-States  <=50K           Private
  32559             0          20hpw  United-States  <=50K           Private
  32560             0          40hpw  United-States   >50K      Self-emp-inc

  [32561 rows x 15 columns]}}

In [8]:
_ = wfg.check_question()

100%|██████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 1938.67it/s]

In [9]:
qr = wfg.check_question_results

In [19]:
qr

{'11006381_complete': ([], []),
 '11006381_complete_more': (['output_1'], ['output1', 'output_3'])}

In [10]:
_ = wfg.check_variable()

100%|███████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 210.06it/s]

In [11]:
vr = wfg.check_var_results

In [14]:
vr

{'output_1': {'11006381_complete': (['EstWeight'],
   [('hours-per-week(new)', dtype('int64'), dtype('float64'))]),
  '11006381_complete_more': (None, None)},
 'output_2': {'11006381_complete': (['EstWeight'],
   [('hours-per-week(new)', dtype('int64'), dtype('float64'))]),
  '11006381_complete_more': (['EstWeight'],
   [('hours-per-week(new)', dtype('int64'), dtype('float64'))])}}

In [12]:
qdf = pd.Series(qr,name='questions')
vdf = pd.DataFrame.from_dict(vr)

In [13]:
pd.merge(qdf,vdf,left_index=True,right_index=True)

,questions,output_1,output_2
11006381_complete,"([], [])","([EstWeight], [(hours-per-week(new), int64, fl...","([EstWeight], [(hours-per-week(new), int64, fl..."
11006381_complete_more,"([output_1], [output1, output_3])","(None, None)","([EstWeight], [(hours-per-week(new), int64, fl..."

In [18]:
wfg.sub_outputs['11006381_complete']['output_1']

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week(new)
0,middle,121772,11,0,0,40.0
1,middle,84154,10,0,0,38.0
2,middle,293936,4,0,0,40.0
3,middle,117747,9,0,1573,35.0
4,middle,153141,9,0,0,40.0
...,...,...,...,...,...,...
451,middle,191196,13,0,1977,60.0
452,middle,199590,3,0,0,40.0
453,middle,71556,14,0,0,50.0
454,middle,217597,9,0,0,50.0
455,middle,107302,9,0,0,45.0

# Continue from here

Using the dataframe above, we can use it to generate feedback for each student and statistics of the data collected.

## up next, check the data by columns

## extract the nodes used in the workflow

# Old stuff as resource below

In [ ]:
qdf = pd.Series(x,name='questions')

In [ ]:
qdf

In [ ]:
dfd

In [ ]:
pd.merge(qdf,dfd,left_index=True,right_index=True)

In [ ]:
o = wf.check_variables()

In [ ]:
o

In [ ]:
dfd = pd.DataFrame.from_dict(o)

In [ ]:
dfd

In [ ]:
dfd.output_1.loc['11006381_complete']

In [ ]:
wf.ref_output['output_1'].keys()

In [ ]:
wf.sub_outputs.keys()

In [ ]:
len(wf)

In [ ]:
wf.sub_outputs['11006381_complete']['output_1']['fnlwgt'].dtype

In [ ]:
for i,j in zip(wf.ref_output['output_1'].columns,wf.ref_output['output_1'].dtypes):
    print(i,j)
    try:
        print(wf.sub_outputs['11006381_complete']['output_1'][i].dtype == j) 
    except:
        print('Variable {} not found'.format(i))

In [ ]:
tar_dt = wf.ref_output['output_1'].dtypes

In [ ]:
tar_v = wf.ref_output['output_1'].dtypes.index

In [ ]:
for i,j in zip(tar_v,tar_dt):
    print(i,j)

In [ ]:
wf.ref_output['output_1'].columns

In [ ]:
wf.sub_outputs['11006381_complete']['output_1'].dtypes.index

In [ ]:
wf.sub_outputs['11006381_complete']['output_1'].head()

# Note for self

A dictionary with `student_id` as keys and some other data as values can be converted to a pandas series with

```
s = pd.Series(*dict_here*,name='*variable_name_for_data*')
s'= pd.Series(*dict_here*,name='*variable_name_for_data*')
```

To merge them on the columns
```
pd.merge(s,s_, left_index=True, right_index=True)
```

Eventually two series can be merged to a dataframe and series can be merged to a dataframe with `pd.merge`. Dataframes can then be saved as csv files as output for the assisted grading process.

In [ ]:
d1 = {'a':[1,2], 'b':[3,4],'c':[4,5]}
d2 = {'b':[3,4],'a':[1,2],'c':[4,5]}

In [ ]:
d1 = {'a':None, 'b':[3,4],'c':[4,5]}
d2 = {'b':[3,4],'a':(1,2),'c':[4,5]}

In [ ]:
pd.DataFrame.from_dict(d1)

In [ ]:
included_keys=['a','b']

In [ ]:
{k:v for k,v in d1.items() if k in included_keys}

In [ ]:
type(d1.items())

In [ ]:
d1.keys() == d2.keys()

In [ ]:
wf.question_submission_data

In [ ]:
s = pd.Series(wf.compare_COT_annotations(),name='questions')

In [ ]:
s_ = pd.Series(wf.compare_COT_annotations(),name='questions_')

In [ ]:
s.index

In [ ]:
s__ = pd.merge(s,s_, left_index=True, right_index=True)

In [ ]:
s__

In [ ]:
pd.merge(s__,s_, left_index=True, right_index=True)